<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/styles.css" rel="stylesheet">
  <title>Birthday App</title>
</head>
<body>
  <div style="text-align: center;">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
  </div>
  <div class="result">
    <h2 id="user_name">Guess what <%=@name%>?</h2>
    <h3 id='days-to-go'>It is only <%= @days_until_birthday %> days until your birthday!</h3>
  </div>
  <div style="text-align: center;">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
    <img class="ballons" width="100px" src="https://cdn.pixabay.com/photo/2019/06/02/12/37/balloons-4246383_1280.png">
  </div>
</body>
</html>